.pokemonInfos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.pokemonName {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
}

.pokemonImg {
    width: 96px;
    height: 96px;
}

.pokemonTypes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.pokemonType {
    margin: 0 4px;
    padding: 1px 12px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}